@font-face{
    font-family: 'Proxiima Nova';
    src: url('../fontis/ProximaNovaBold.otf') format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: 'Proxiima Nova';
    src: url('../fontis/ProximaNovaSemibold.otf') format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: 'Proxiima Nova';
    src: url('../fontis/ProximaNovaRegular.otf') format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fontis/RobotoSlab-VariableFont_wght.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fontis/RobotoSlab-Variable1Font_wght.ttf') format("truetype");
    font-weight: 500;
}